[submodule "dotvim/bundle/syntastic"]
	path = dotvim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "dotvim/bundle/vim-go"]
	path = dotvim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
