[submodule "dotvim/bundle/ansible-vim"]
	path = dotvim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule "dotvim/bundle/tabular"]
	path = dotvim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "dottmux/plugins/tmux-sensible"]
	path = dottmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "dottmux/plugins/tpm"]
	path = dottmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
